* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(214, 206, 228);
    background: linear-gradient(0deg, rgba(214, 206, 228, 1) 7%, rgba(222, 167, 153, 1) 41%, rgba(175, 110, 70, 1) 79%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 380px;
    height: 600px;
    background: rgb(63, 251, 110);
    background: linear-gradient(0deg, rgba(63, 251, 110, 0.8576680672268908) 0%, rgba(27, 238, 225, 0.8436624649859944) 73%);

}

.mainimg {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
}

.heading {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    background: rgb(251, 63, 63);
    background: linear-gradient(90deg, rgba(251, 63, 63, 0.8576680672268908) 0%, rgba(53, 78, 213, 0.8436624649859944) 67%);
    color: transparent;
    background-clip: text;
}

.label-text,
.enterbill {
    align-self: flex-start;
    margin-bottom: 5px;
}

.label-text {
    margin-left: 40px;
}

.enterbill {
    margin-left: 20px;
    width: calc(100% - 60px);
    /* Adjust the width as needed */
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #146404, #14f339);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 20px;
    padding: 0.6em 1.0em;
    margin: 20px 10px 10px 10px;
   
    cursor: pointer;
}

button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 2s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #18840066;
    }

    70% {
        box-shadow: 0 0 0 20px rgba(6, 5, 4, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

#totalAmount {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;

}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 20px;

}